<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://use.fontawesome.com/a721b01345.js"></script>
  <%= csrf_meta_tags %>
</head>
<body ng-app="portfolio" data-no->

<div class="alert alert-info" style="<%= 'display: none' if !notice.present? %>">
	<%= notice %>
</div>
<div class="alert alert-warning" style="<%= 'display: none' if !alert.present? %>">
	<%= alert %>
</div>

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid" ng-controller='navCtrl'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jamespotz</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="navClass('home')"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li ng-class="navClass('about')"><a href="/about">About</a></li>
        <li ng-class="navClass('post')"><a href="/post">Blog</a></li>
        <li ng-show="signedIn()"><a href="/">{{ user.username }}</a></li>
        <li ng-show="signedIn()"><a ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
	<%= yield %>
</div>

<%= javascript_include_tag 'application' %>
</body>
</html>
